<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Josemaria Mas | CV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="images/logo.png" alt="JMM-CV-2021" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="images/profile-pic.jpg" alt="JMM" class="profile-pic nav-link" />
              <span class="caption nav-link">Josemaria Mas</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Characteristics</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Areas</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link"></a>
          </div>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Josemaria Mas </h2>
          <h3>{Estudiante - ESEN}</h3>
          <p>Ingenieria de negocios</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">About</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
        <div class="about-img">

        </div>
        <div class="about-text-box">
          <h2>Hola</h2>
          <p>
            Soy estudiante en la esen, actualmente curso 3er año de ingenieria
            y negocios.
            siempre he estado involucrado en deportes, he tratado de
            escuchar y absorber informacion de cada persona que conozco.
          </p>
          <p>
            Trato de ser un poco mejor que el dia
            anterior, aunque aveces resulte imposible. Me cuesta dejar algo sin
            terminar, independiemntemente del tiempo que tome hacerlo.
          </p>
          <p>
            Trato de ser lo más introspectivo que pueda, siempre buscando las raices
            de mis problemas adentro de mi. tratando de buscar respuestas y soliciones,
            trato de aprender lo más que pueda siempre.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Caracteristicas principales</h2>
          <p>
            Las siguientes caracteristicas son predominantes en mi dia a dia, las
            trato como fortalezas y trato de mejorarlas cada dia.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Observador</h2>
            <p>
              Me he dado cuenta que los problemas que suelen aparecer en la mayoria
              de contextos tienden a mostrar su raiz y solucion en algun punto durante
              su desarollo. Por medio de la aplicacion del metodo cientifico en distintas
              facetas de mi vida, de esta manera descompongo la mayor parte de situaciones
              y asi disecar su desarollo.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Racional</h2>
            <p>
              Una de mis cosas favoritas, cuando estoy aprendiendo algo nuevo es disolver
              el objeto de analisis en conceptos teoricos para entender subconcientemente
              la escencia de este. Con la ayuda de esta informacion, buscar soluciones a
              problemas que vayan surgiendo durante el proceso de aprendizaje.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            <h2>introspectivo</h2>
            <p>
              Creo, fielmente, que la mayoria de problemas que una persona experimenta a lo
              largo de su vida son creados por esta misma. Debido a esto trato de buscar
              responsabilidad de lo sucedido, en mi. Con el tiempo he llegado a estar
              extremadamente comodo en mi mente, permitiendo desarollo creativo y expansivo.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>
    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Fuentes de estudio</h2>
      </div>
      <div class="project-item">
        </>
        <div class="project-description">
          <h2>Lectura diaria</h2>
          <p>
            Una de mis principales fuentes de aprendizaje, trato de leer cada dia.
            mi meta durante ciclo academico, en promedio, es de 3 libros al mes; las
            tematicas de estos suelen fluctuar en areas como: filosofia, espiritualidad,
            superaciónn, comportamiento y psicologia humana, ciencias, entre otros.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Educacion superior</h2>
          <p>
            Principal metodo de aprendizaje, actualmente 3er año. Recibe la mayor parte
            de mi tiempo y tiende a mejorar mi comportamiento y razonamiento bajo estress, asi
            como, tambien, mi resceptividad y atención. Esta area de aprendizaje contiene
            un rango variado de tematicas cientificas y matematicas, de desarollo y practicas.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">

          <h2>Deportes</h2>
          <p>
            A lo largo de mi vida he tratado de aprender de la mayor cantidad de deportes y
            artes, para así encontrar lo que mas me apasiona y mueve. generalmente termino
            quedandome en los deportes que tienden a ser exigentes mental y fisicamente, con
            la finalidad de estimular mi creatividad y habilidad para solucionar problemas.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>
    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        Fuera un honor poder conversar y aprender de usted. Siempre estoy dispuesto a probar
        y conocer nuevos contextos y areas de desarollo humano para asi mejorar mis cualidades y
        habilidades.
      </p>

      <div class="container">
        <p>
          <a href="mailto:jmm@gmail.com"><i class="fas fa-envelope-open"></i> jmm@gmail.com</a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-youtube"> YouTube</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-dev"> Dev</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>
    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Charactiristics</a>
        <a href="projects" class="footer-nav-link">Areas of development</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Chaoo Charles &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>
  </main>
  <script src="main.js"></script>
</body>

</html>